        <footer id="footer">
            Contents © 2008-{{ "" | year }} <a href="mailto:{{ site_email }}">{{ site_author }}</a> - 
            Powered by <a href="{{ generatorurl }}" rel="nofollow">{{ site_generator }}</a>         
        </footer>

