<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {{ site_title }}</title>
    <link rel="icon" type="image/png" href="{{ assets_dir }}/img/favicon.ico" />
    <link href="{{ assets_dir }}/main.css" rel="stylesheet" type="text/css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ rss_file }}">
    <link rel="canonical" href="{{ site_url }}/index.html">
    <meta name="theme-color" content="#5670d4">
    <meta name="generator" content="Metalsmith (metalsmith.io)">
    <meta name="author" content="{{ site_author }}">
    <meta property="og:site_name" content="{{ site_title }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ site_url }}/index.html">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ date }}">
    <meta property="article:tag" content="{{ tags }}">
</head>
