    <script src="{{ assets_dir }}/lightbox/ekko-lightbox.js"></script>
    <script type="text/javascript">
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                showArrows: true,
            });
        });
    </script>

