// The saas load paths are defined in build.js
// When using/importing a file, leading _ and .scss extension are removed
// so @use "saas_file" will import _saas_file.scss

// Import from the _saas directory
@import 'variables';

// Import from the node_modules/bootstrap/scss directory
@import 'bootstrap';

// Customise nav-item and content font sizes
.content {
  font-size: $custom-font-size;
}

.nav-link {
  font-size: $custom-nav-link-font-size;
}

// Underline the active nav-item
.navbar-nav .nav-link:hover,
.navbar-nav .active {
border-radius:0px;
border-bottom-width: 4px;
border-bottom-style: solid;
border-bottom-color: $custom-border-color;
}

// Do not center the brand image with xs screens
@include media-breakpoint-down(xs) {
    .container {
        margin-left: 0;
        margin-right: 0;
    }
}

// Remove the border from the toggler button
.navbar-toggler {
  border: none;
}

// Customise cards
.card-block {
  margin: $custom-cb-margin;
}
.card-header {
  background-color: $custom-ch-bg;
}
.card-info {
  background-color: $custom-cs-bg;
}
.card-news {
  background-color: $custom-cn-bg;
  margin-bottom: 30px;
  text-align: center;
}
.card-shell {
  background-color: $custom-cs-bg;
  font-family: $font-family-monospace;
}

// Replace obsolete frameborder attribute in screenshots page
iframe {
  border: 0;
}
