<div class="row">
  <a href="{{ page.assets_dir }}/img/Screenshots/the_user_attributes_dialog.png" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Editing user attributes" class="col-2">
    <img src="{{ page.assets_dir }}/img/Screenshots/the_user_attributes_dialog.thumbnail.png" class="img-fluid">
  </a>
  <a href="{{ page.assets_dir }}/img/Screenshots/the_plugins_configuration_page.png" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Extra features" class="col-2">
    <img src="{{ page.assets_dir }}/img/Screenshots/the_plugins_configuration_page.thumbnail.png" class="img-fluid">
  </a>
  <a href="{{ page.assets_dir }}/img/Screenshots/filtering_data_of_a_table.png" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Querying a table" class="col-2">
    <img src="{{ page.assets_dir }}/img/Screenshots/filtering_data_of_a_table.thumbnail.png" class="img-fluid">
  </a>
  <a href="{{ page.assets_dir }}/img/Screenshots/the_help_browser.png" data-toggle="lightbox" data-gallery="example-gallery" data-footer="The Users Guide browser" class="col-2">
    <img src="{{ page.assets_dir }}/img/Screenshots/the_help_browser.thumbnail.png" class="img-fluid">
  </a>
  <a href="{{ page.assets_dir }}/img/Screenshots/zooming_a_N_dimensional_cell.png" data-toggle="lightbox" data-gallery="example-gallery" data-footer="Zooming N-dimensional cells" class="col-2">
    <img src="{{ page.assets_dir }}/img/Screenshots/zooming_a_N_dimensional_cell.thumbnail.png" class="img-fluid">
  </a>
  <a href="{{ page.assets_dir }}/img/Screenshots/a_common_working_session.png" data-toggle="lightbox" data-gallery="example-gallery" data-footer="A common working session" class="col-2">
    <img src="{{ page.assets_dir }}/img/Screenshots/a_common_working_session.thumbnail.png" class="img-fluid">
  </a>
</div>

