// Here I can customise variables: create new variables and reassign !default variables
$custom-font-size: 20px;
$custom-nav-link-font-size: 1.25rem;
$custom-border-color: #02709e;
$custom-cb-margin: 10px;
// toggle button horizontal padding
$navbar-toggler-padding-x: 0.25rem;
// card-info background color
$brand-info: #e3f2fd;
// Custom cards background color
$custom-cs-bg: #dff3f8;
$custom-ch-bg: #cbecf4;
$custom-cn-bg: #cae028;
