<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# " lang="en">
{% include head.html %}
<body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

    <!-- Menubar -->
    <nav class="navbar navbar-toggleable-md navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}/"><img src="{{ page.assets_dir }}/img/logo_2.svg" width="200" alt="ViTables" id="logo"></a>
            </div>
            <div id="bs-navbar" class="collapse navbar-collapse justify-content-end">
                <div class="navbar-nav">
                  {% assign inactive = "nav-link" %}
                  {% assign active = "nav-link active" %}
                  {% if page.id == "index" %}
                    <a class="{{ active }}" href="/">Home</a>
                  {% else %}
                    <a class="{{ inactive }}" href="/">Home</a>
                  {% endif %}
                  {% if page.id == "development_index" %}
                    <a class="{{ active }}" href="/Development">Development</a>
                  {% else %}
                    <a class="{{ inactive }}" href="/Development">Development</a>
                  {% endif %}
                  {% if page.id == "download_index" %}
                    <a class="{{ active }}" href="/Download">Download</a>
                  {% else %}
                    <a class="{{ inactive }}" href="/Download">Download</a>
                  {% endif %}
                  <div class="dropdown">
                    <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">Documentation</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/Docs">What to Read</a>
                      <a class="dropdown-item" href="/Docs/faq.html">FAQ</a>
                      <a class="dropdown-item" href="/Docs/testimonials.html">Testimonials</a>
                    </div>
                  </div>
                  {% if page.id == "screenshots_index" %}
                    <a class="{{ active }}" href="/Screenshots">Screenshots</a>
                  {% else %}
                    <a class="{{ inactive }}" href="/Screenshots">Screenshots</a>
                  {% endif %}
                </div>
            </div>
        </div>
    </nav><!-- End of Menubar -->
    <div class="container" id="content" role="main" style="padding-top:20px">
        {{ content }}
        <hr>
        {% include footer.html %}
    </div>
    <script src="{{ page.assets_dir }}/jquery/jquery.min.js"></script>
    <script src="{{ page.assets_dir }}/tether/js/tether.min.js"></script>
    <script src="{{ page.assets_dir }}/js/bootstrap.bundle.min.js"></script>
    {% if "{{ page.id }} == screenshots_index" %}
        {% include lightbox.html %}
    {% endif %}
</body>
</html>
