<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# " lang="en">
{% include head.html %}
<body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

    <!-- Menubar -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <!-- This keeps the margins nice -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}/"><img src="{{ page.assets_dir }}/img/logo_2.svg" alt="ViTables" id="logo"></a>
            </div>
            <!-- /.navbar-header -->
            <div class="collapse navbar-collapse" id="bs-navbar" aria-expanded="false">
                <ul class="nav navbar-nav">
                    <li><a href="/Development">Development</a></li>
                    <li><a href="/Download">Download</a></li>
                    <li><a href="/Docs">Documentation</a></li>
                    <li><a href="/Screenshots">Screenshots</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right"></ul>
            </div>
        <!-- /.navbar-collapse -->
        </div>
    <!-- /.container -->
    </nav><!-- End of Menubar -->
    <div class="container" id="content" role="main">
        {{ content }}
        {% include footer.html %}
    </div>
    <script src="{{ page.assets_dir }}/jquery/jquery.min.js"></script>
    <script src="{{ page.assets_dir }}/tether/js/tether.min.js"></script>
    <script src="{{ page.assets_dir }}/js/bootstrap.min.js"></script>
</body>
</html>
