<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# " lang="en">
{% include head.html %}
<body>
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

    <!-- Menubar -->
    <nav class="navbar navbar-toggleable-md navbar-light" style="background: #348fad;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}/"><img src="{{ page.assets_dir }}/img/logo_2.svg" alt="ViTables" id="logo"></a>
            </div>
            <div id="bs-navbar" class="collapse navbar-collapse justify-content-end">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/Development">Development</a>
                    <a class="nav-item nav-link" href="/Download">Download</a>
                    <a class="nav-item nav-link" href="/Docs">Documentation</a>
                    <a class="nav-item nav-link" href="/Screenshots">Screenshots</a>
                </div>
            </div>
        </div>
    </nav><!-- End of Menubar -->
    <div class="container" id="content" role="main" style="padding-top:20px">
        {{ content }}
        <hr>
        {% include footer.html %}
    </div>
    <script src="{{ page.assets_dir }}/jquery/jquery.min.js"></script>
    <script src="{{ page.assets_dir }}/tether/js/tether.min.js"></script>
    <script src="{{ page.assets_dir }}/js/bootstrap.min.js"></script>
</body>
</html>
